// Main
$Width-SlideBar: 280px;
$Height-Header: 100px;

$Base-White: #fff;
$Base-Black: #000;

// Color scheme
$Light-Text: #121926;
$Dark-Text: #FCFCFD;
$Light-Background: #FCFCFD;
$Dark-Background: #000;

// Color pattern
$Primary-50: #5A3211;
$Primary-100: #964405;
$Primary-200: #D68631;
$Primary-300: #3D717E;
$Primary-400: #10475E;
$Primary-500: #0e2a47;
$Primary-600: #0B2839;

$Gray-modern-25: #FCFCFD;
$Gray-modern-50: #F8FAFC;
$Gray-modern-100: #EEF2F6;
$Gray-modern-200: #E3E8EF;
$Gray-modern-300: #CDD5DF;
$Gray-modern-400: #9AA4B2;
$Gray-modern-500: #697586;
$Gray-modern-600: #4B5565;
$Gray-modern-700: #364152;
$Gray-modern-800: #202939;
$Gray-modern-900: #121926;

$Success-50: #ECFDF3;
$Success-200: #ABEFC6;
$Success-500: #17B26A;
$Success-600: #079455;
$Success-700: #067647;

$Warning-200: #FEDF89;
$Warning-400: #FDB022;
$Warning-500: #F79009;
$Warning-700: #B54708;

$Error-50: #FEF3F2;
$Error-200: #FECDCA;
$Error-500: #F04438;
$Error-600: #D92D20;
$Error-700: #B42318;

$Blue-indigo-50: #EEF4FF;
$Blue-indigo-200: #C7D7FE;
$Blue-indigo-500: #6172F3;
$Blue-indigo-600: #444CE7;
$Blue-indigo-700: #3538CD;